# History files
.Rhistory

# Example code in package build process
*-Ex.R
temp.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
*.Rproj

# Directories to ignore
Microarray_berry/
Objects/
Data_results/
Temp/



